.Container {
  overflow: auto;
}

.card-contacts {
  margin: 20px 0;
  border: 2px solid var(--color-primary-dark);
  border-radius: 10px;
  box-shadow: 4px 8px 4px rgba(39, 24, 126, 0.25);
  color: var(--color-primary-dark);
  padding: 5px 5px;
}

.title-contacts {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.content {
  font-weight: bold;
}

.title-principal {
  font-size: 32px;
  margin: 0 0px 40px 0px;
}

.logo-contacts {
  width: 125px;
  height: 125px;
  display: flex;
  align-self: center;
}

.cards-contacts {
  height: 300px;
  flex: 1 1 0;
  border-radius: 10%;
  border: 0 solid var(--color-primary-dark);
  margin-bottom: 0.5rem;
}

.card-body {
  padding: 0.7rem;
}

.contacts {
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.title-card-contacts {
  display: flex;
  text-align: center;
}

.icon-img {
  width: 30px;
  height: 30px;
}

.card-text-contacts {
  display: flex;
  justify-content: center;
  text-align: center;
}

.body-contacts {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.link-whatsapp:hover {
  color: #aeaeae;
  text-decoration: none;
}

@media (min-width: 768px) {
  .container-contacts {
    width: 100%;
    justify-items: start;
    grid-template-columns: 1fr 150px max-content 1fr;
    max-height: 100%;
  }

  .title-card-contacts {
    display: block;
  }

  .contacts {
    padding: 30px 30px;
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    flex-direction: row;
  }

  .icon-img {
    width: 30px;
    height: 30px;
  }

  .body-contacts {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }

  .link-whatsapp:hover {
    color: #aeaeae;
    text-decoration: none;
  }
}
