.logo-login {
  text-align: center;
  margin: 16px 0;
}

.logo-banner-login {
  width: 50vw;
}

.container-box-login h2 {
  text-align: center;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 42px;
}

.container-box-login span {
  color: var(--color-orange);
}

.container-box-login {
  display: flex;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(var(--color-primary-dark), var(--color-primary));
}

.container-image-background-login {
  display: contents;
  margin: 0 auto;
}

.form-box-login {
  max-width: 500px;
  padding: 30px;
}

#btnEntrar {
  margin-top: 5px;
  width: 100%;
  border-color: var(--color-primary-dark);
  background-color: var(--color-primary-dark);
  border-radius: 5px;
}

#links-login {
  margin: 15px 0;
  text-align: center;
  color: white;
  bottom: 0;
}

#esqueci-senha,
#cadastro-login {
  color: white;
  font-weight: bold;
}

@media (min-width: 576px) {
  .logo-banner-login {
    width: 10vw;
  }

  .container-box-login h2 {
    color: var(--color-primary-dark);
  }

  .form-box-login {
    background-color: white;
    box-shadow: 1px 5px 30px black;
    border-radius: 25px;
  }

  #links-login,
  #esqueci-senha,
  #cadastro-login {
    color: var(--color-primary-dark);
  }
}
