.Container {
  overflow: auto;
}

.card-deck .card {
  margin: 20px 0;
  border: 2px solid var(--color-primary-dark);
  border-radius: 10px;
  box-shadow: 4px 8px 4px rgba(39, 24, 126, 0.25);
  color: var(--color-primary-dark);
  padding: 5px 10px 15px;
}

.card-deck .card button {
  border: #27187e;
  background-color: #27187e;
  margin: 5px;
}

.title-card {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.card {
  color: #27187e;
}

.titulo-campo {
  color: #27187e;
  font-weight: bold;
}

.linkVaga {
  width: 100%;
  text-align: center;
}

.buttonVaga {
  width: 90%;
}

#buttonGreen {
  background-color: #00b200;
}

#buttonBlue {
  background-color: #27187e;
}

.title-card {
  margin: 0;
}

.deck-opportunity {
  justify-content: center;
}

.title-card-company {
  text-align: center;
}

@media (min-width: 576px) {
  .title-card {
    font-size: 28px;
    text-align: justify;
  }
  .buttonVaga {
    width: 98%;
  }
  .card-deck .card {
    margin: 30px 32px;
  }
  .title-card-company {
    text-align: justify;
  }
}
