.vscode/
.idea/
.settings/
.mvn/
src/
uml/
target/
!target/projeto-integrador-*.jar
.idea
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.metadata
