.Navbar {
  background: #27187e;
}

.navbar-toggler {
  border: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-item {
  color: #cad0e0;
  padding: 10px;
  margin-left: 5px;
  font-weight: bold;
}

.nav-item:hover {
  transition-duration: 0.3s;
  color: white;
  text-decoration: none;
}

.title a {
  color: #ffffff;
  font-weight: 700;
  font-size: larger;
  font-size: 25px;
}

.title a:hover {
  transition-duration: 1s;
  text-decoration: none;
  color: var(--color-orange);
}

#avatar {
  margin-left: 15px;
}

@media (min-width: 991px) {
  #avatar {
    margin-left: auto;
  }
}
