.opportunitys {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250, 1fr));
  grid-gap: 20px;
  /* max-width: 800px; */
  padding: 10px;
  margin: 0 auto;
}

.sidebar {
  display: flex;
}

.sidebar>div {
  flex: 1, 0, 250px;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .opportunitys {
    grid-template-columns: 1fr;
  }
  .sidebar {
    display: flex;
    overflow: scroll;
  }
  .sidebar>div {
    flex: 1 0 300px;
    margin: 0 10px;
  }
}