.label {
  color: white;
  margin: 0;
}

.Input {
  margin: 0 0 15px 0;
  border-radius: 5px;
}

.error {
  color: #f31;
  font-size: 0.875rem;
  margin-top: -15px;
  margin-bottom: 3px;
  font-size: 15px;
}

@media (min-width: 576px) {
  .label {
    color: #27187e;
    margin-bottom: 1px;
  }
}
