.Container {
  overflow: auto;
}

.card-deck .card {
  margin-bottom: 20px;
}

.card-deck .card button {
  border: #27187e;
  background-color: #27187e;
  margin: 5px;
}

.form-search {
  display: flex;
  margin-top: 15px;
  margin-bottom: 25px;
}

.img {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 30%;
  right: 20%;
  margin-top: -50px;
  margin-left: -50px;
}

.btn-search {
  position: flex;
  width: 40px;
  height: 39px;
  padding-bottom: 20px;
  padding-right: 20px;

  cursor: pointer;
  margin-top: 4px;
  margin-bottom: 15px;
  background-color: #27187e;
}

.search {
  display: flex;
  justify-content: center;
}

.page-item.active .page-link {
  background-color: #27187e;
  cursor: pointer;
  border: none;
}

.page-item.active .page-link:hover {
  background-color: #748afb;
}

.pagination-company {
  display: flex;
  justify-content: center;
}

.img-search {
  display: flex;
  height: 20px;

  margin-right: 25px;
}

.spinner-load {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.spinner-load > div {
  align-self: center;
  height: 100px;
  width: 100px;
  color: #ffff;
  font-weight: bold;
}

.messageOps {
  text-align: center;
  color: #ffff;
  font-size: 26px;
  margin-top: 25vh;
  font-weight: bold;
}

.container-card-perfil {
  display: flex;
  margin-bottom: 20px;
}

.image-applicant {
  width: 90px;
  height: 90px;
}

.container-card-perfil > .image-applicant > img {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 4px double var(--color-primary-dark);
}

.title-applicant-search {
  font-size: 28px;
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  align-self: center;
}

.link-perfil {
  color: var(--color-primary-dark);
}

@media (max-width: 600px) {
  .messageOps {
    margin-top: 20vh;
  }

  .title-company-search {
    font-size: 24px;
    text-align: center;
  }

  .btn-search {
    width: 40px;
    height: 39px;
    padding-bottom: 20px;
    padding-right: 20px;

    right: 50px;
    top: 72px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 10px;
    background-color: var(--color-primary-dark);
    border: none;
  }

  .form-search {
    display: inline-block;
    width: 200px;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  .pagination-company:hover {
    background-color: #27187e;
  }
}
