.profile {
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn-profile-edit {
  background: none;
  border: none;
  color: var(--color-primary-light);
  font-weight: bold;
  padding: 0.15em;
  font-size: 1.5rem;
  transition: color 0.1s linear;
}

.btn-profile-edit:hover {
  color: var(--color-primary-dark);
}

.btn-profile-edit:focus {
  outline: none;
}

.container-profile .btn-primary {
  border-color: var(--color-primary-dark);
  background-color: var(--color-primary-dark);
}

.container-profile .btn-primary:hover {
  border-color: var(--color-primary-darker);
  background-color: var(--color-primary-darker);
}

.card-body > .profile-item > div > a {
  color: var(--color-primary-dark);
}

@media (max-width: 768px) {
  .container-profile > div {
    padding: 12px;
  }
}
