:root {
  --color-primary: #758bfd;
  --color-primary-dark: #27187e;
  --color-primary-darker: #170e4d;
  --color-primary-light: #aeb8fe;
  --color-white: #f1f2f6;
  --color-orange: #ff8600;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-image: linear-gradient(#27187e, #758bfd);
}
