.Container {
  overflow: auto;
}

.card-deck .card {
  margin-bottom: 20px;
  font-size: 15px;
}

.card-deck .card button {
  margin: 5px;
}

.title-card-opportunity {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-bottom: 0;
}

.title-empresa-opportunity {
  font-size: 18px;
  text-align: center;
}

.card {
  color: #27187e;
}

.titulo-campo {
  color: #27187e;
  font-weight: bold;
}

.buttonsCandidatar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.titulo-campo-opportunity {
  font-weight: bold;
}

.buttonSelect {
  display: flex;
  margin: 0% 0%;
  height: 100px;
  width: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: white;
  color: var(--color-primary-dark);
  border: none;
  background-color: white;
  font-size: 20px;
}

.buttonSelect:focus {
  outline: 0;
}

.buttonNo {
  font-weight: bold;
  border: 6px solid var(--color-orange);
  box-shadow: 3px 3px 0px 1px #930;
}

.buttonYes {
  font-weight: bold;
  border: 6px solid var(--color-primary-dark);
  box-shadow: 3px 3px 0px 1px #15255a;
}

.buttonNo:active {
  box-shadow: 0px 0px 0px 0px #930, inset 3px 3px 3px;
  transform: translate(3px, 3px);
}

.buttonYes:active {
  box-shadow: 0px 0px 0px 0px #15255a, inset 3px 3px 3px;
  transform: translate(3px, 3px);
}

.heartIco {
  width: 60px;
  fill: var(--color-primary-dark);
  background-color: transparent;
}

.xIco {
  width: 50px;
  fill: var(--color-orange);
}

.sucess-apply {
  text-align: center;
  margin-top: 10px;
  font-size: larger;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: ease-out;
  padding: 20px;
}

.sucess-apply-img {
  padding: 20px;
  height: 420px;
}

#load-opportunity {
  height: 82vh;
}

#card-opportunity {
  padding: 10px;
}

#container-opportunity {
  padding: 0;
}

.linkToCompany {
  color: var(--color-primary);
}

.applicants-opportunity {
  text-align: center;
  margin: 20px 0 10px;
  font-weight: bold;
  font-size: 26px;
}

.imgApplicants {
  width: 80px;
  border-radius: 100%;
}

.srcApplicants {
  border-radius: 100%;
  object-fit: cover;
  width: 65px;
  height: 65px;
}

#container-opportunity .deck-opportunity {
  gap: 10px;
}

.deck-opportunity .cardApplicants {
  padding: 10px;
  margin: 20px;
}

.cardApplicants > div {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
}

.cardApplicants > div > .informationApplicants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 5px 15px 0;
}

.cardApplicants > div > .informationApplicants > .nameApplicants {
  font-weight: bold;
  font-size: 20px;
}

.divButtonApplicants {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.divButtonApplicants > a {
  margin: 0 !important;
  padding: 0;
}

.buttonRemove {
  color: var(--color-primary-dark);
  border: none;
  background-color: transparent;
}

.buttonRemove:active {
  outline: 0;
}

.buttonRemove:focus {
  outline: 0;
}

@media (min-width: 576px) {
  .title-card-opportunity {
    font-size: 28px;
  }
  .card-deck .card {
    font-size: 16px;
  }
  .buttonSelect {
    margin: 2% 5%;
  }
  .buttonsCandidatar {
    justify-content: center;
  }

  #card-opportunity {
    padding: 20px;
  }

  .deck-opportunity .cardApplicants {
    width: 300px;
    height: 150px;
  }
}
