.Container {
  overflow: auto;
}

.card-deck .card {
  margin-bottom: 20px;
  font-size: 15px;
}

.card-deck .card button {
  margin: 5px;
}

.title-card-opportunity {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-bottom: 0;
}

.title-empresa-opportunity {
  font-size: 18px;
  text-align: center;
}

.card {
  color: #27187e;
}

.titulo-campo {
  color: #27187e;
  font-weight: bold;
}

.buttonsCandidatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo-campo-opportunity {
  font-weight: bold;
}

.buttonSelect {
  display: flex;
  margin: 5% 10%;
  height: 100px;
  width: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: white;
  color: var(--color-primary-dark);
  border: none;
  background-color: white;
  font-size: 20px;
}

.buttonSelect:focus {
  outline: 0;
}

.buttonNo {
  font-weight: bold;
  border: 6px solid var(--color-orange);
  box-shadow: 3px 3px 0px 1px #930;
}

.buttonYes {
  font-weight: bold;
  border: 6px solid var(--color-primary-dark);
  box-shadow: 3px 3px 0px 1px #15255a;
}

.buttonNo:active {
  box-shadow: 0px 0px 0px 0px #930, inset 3px 3px 3px;
  transform: translate(3px, 3px);
}

.buttonYes:active {
  box-shadow: 0px 0px 0px 0px #15255a, inset 3px 3px 3px;
  transform: translate(3px, 3px);
}

.heartIco {
  width: 60px;
  fill: var(--color-primary-dark);
}

.xIco {
  width: 50px;
  fill: var(--color-orange);
}

@media (min-width: 576px) {
  .title-card-opportunity {
    font-size: 28px;
  }
  .card-deck .card {
    font-size: 16px;
  }
  .buttonSelect {
    margin: 2% 5%;
  }
}
