#save-profile {
  margin-top: 0.5em;
  color: var(--color-white);
  font-weight: bold;
  width: 100%;
  border-color: var(--color-primary-dark);
  background-color: var(--color-primary-dark);
  border-radius: 0.5em;
  transition: background-color 0.1s linear;
}

#save-profile:hover {
  background-color: var(--color-primary-darker);
}

.card-profile .profile-item {
  padding: 0.2rem 0;
  color: var(--color-primary-dark);
  text-align: justify;
  white-space: pre-line;
}

.card-profile .profile-item span a:hover {
  text-decoration: none;
  font-size: 16.5px;
}

.card-profile input,
textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--color-primary);
  color: var(--color-primary-dark);
  transition: border 0.1s ease-in-out;
}

.card-profile input:focus,
textarea:focus {
  outline: none;
  border-bottom: 2px solid var(--color-primary-dark);
  color: var(--color-primary-dark);
}

.card-profile .btn-outline-primary {
  color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
}

.card-profile .btn-outline-primary:hover {
  color: var(--color-white);
  background-color: var(--color-primary-dark);
}

.card-profile .btn-profile-edit-item,
.btn-profile-remove {
  max-height: 3em;
}

@media (min-width: 576px) {
  .card-profile {
    margin-bottom: 15px;
  }
}
