.card-profile {
  padding: 0 0.5rem;
}

#save-profile {
  margin-top: 0.5em;
  color: var(--color-white);
  font-weight: bold;
  width: 100%;
  border-color:var(--color-primary-dark);
  background-color:var(--color-primary-dark);
  border-radius: 0.5em;
}

.card-profile {
  background: white;
  border: 2px solid var(--color-primary-dark);
  border-radius: 10px;
  box-shadow: 4px 8px 4px rgba(39, 24, 126, 0.25);
  color: var(--color-primary-dark);
  margin-bottom: 0.5em;
}

.card-profile .card-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.card-profile .profile-item {
  padding: 0.2rem 0;
  color: var(--color-primary-dark);
  text-align: justify;
  white-space: pre-line;
}

.card-profile .profile-item span a:hover {
  text-decoration: none;
  font-size: 16.5px;
}

.card-profile input, textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--color-primary);
  color: var(--color-primary-dark);
  transition: border 0.1s ease-in-out;
}

.card-profile input:focus, textarea:focus {
  border-bottom: 2px solid var(--color-primary-dark);
  color: var(--color-primary-dark);
}

@media (min-width: 576px) {
  .card-profile {
    margin-bottom: 15px;
  }
}