.titulo-registro {
  margin: 0 0 5px 0;
  color: white;
  font-weight: bolder;
  text-align: center;
}

.container-box {
  display: flex;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background: url("../../assets/images/Logo2\ RecruIT\ FullOpacity.png") -15% 70%
      no-repeat,
    linear-gradient(var(--color-primary-dark), var(--color-primary));
  background-size: 180%;
}

.container-image-background-cadastro {
  display: contents;
  margin: 0 auto;
}

.form-box {
  max-width: 500px;
  padding: 30px;
}

.CheckBoxMin {
  color: white;
}

#Cadastrar {
  margin-top: 5px;
  width: 100%;
  border-color: #27187e;
  background-color: #27187e;
  border-radius: 5px;
}

#cadastro {
  text-align: center;
  margin-top: 25px;
  color: white;
}

#login {
  color: white;
  font-weight: bolder;
}

.sucess-register {
  text-align: center;
  margin-top: 10px;
  font-size: larger;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: ease-out;
}

.sucess-register-img {
  padding: 20px;
  height: 530px;
}

.form-box > Input {
  width: 100%;
}

@media (min-width: 576px) {
  .container-box {
    color: var(--color-primary-dark);
    background: linear-gradient(
      var(--color-primary-dark),
      var(--color-primary)
    );
    background-size: 180%;
  }

  .titulo-registro {
    color: #27187e;
    text-align: justify;
  }

  .form-box {
    background-color: white;
    box-shadow: 1px 5px 30px black;
    border-radius: 25px;
  }
  .CheckBoxMin,
  #cadastro,
  #login {
    color: #27187e;
  }
}
